article(class="#{slide}")
	h2.slide--title=slideTitle
	.slide--row.row
		div(class="#{slideCol}")
			.slide--item
				img.slide--img(src="#{slideImg_1}", alt="Тематическая картинка")
				.slide--itemTitle=slideItemTitle_1
				.slide--date=slideDate_1
				a.slide--link(href="#")
		div(class="#{slideCol}")
			div(class="#{slideItemAnother}")
				img.slide--img(src="#{slideImg_2}", alt="Тематическая картинка")
				.slide--itemTitle=slideItemTitle_2
				.slide--date=slideDate_2
				.slide--text
					p
						Красотки, у нас для вас приятная новость!
					p
						Новая акция — «ПЕРЕД ПОКАЗОМ»!
					p
						Почувствуй себя звездой в шикарных платьях от 	Boutique RAI (размеры S/M)! Стоимость участия всего 1499 руб!
					p
						Только 2 и 3 апреля. Количество мест ограничено. p. Все подробности по тел. 421-55-88 или в л.с. Marya Korovina
				a.slide--link(href="#")
		div(class="#{slideCol}")
			.slide--item
				img.slide--img(src="#{slideImg_3}", alt="Тематическая картинка")
				.slide--itemTitle=slideItemTitle_3
				.slide--date=slideDate_3
				a.slide--link(href="#")
		div(class="#{slideCol}")
			.slide--item.slide--item-past
				img.slide--img(src="#{slideImg_4}", alt="Тематическая картинка")
				.slide--itemTitle=slideItemTitle_4
				.slide--date=slideDate_4
				a.slide--link(href="#")
		div(class="#{slideCol}")
			.slide--item.slide--item-5
				img.slide--img(src="#{slideImg_5}", alt="Тематическая картинка")
				.slide--itemTitle=slideItemTitle_5
				a.slide--link(href="#")
		div(class="#{slideCol}")
			.slide--item.slide--item-6
				img.slide--img(src="#{slideImg_6}", alt="Тематическая картинка")
				.slide--itemTitle=slideItemTitle_6
				a.slide--link(href="#")


