article(class="#{column}")
	h2.columnTitle=columnTitleValue
	div(class="#{columnCol}")
		.column--colTitle=columncolTitle
		.column--text.
			Наш видеооператор снимет вашу собственную историю или предложит свою, взяв за основу ваши идеи и пожелания. При этом необходимо учесть, что для того чтобы передаваемые образы воспринимались так, как было задумано, они должны быть правильно запечатлены. Эта особенность задаёт определённые параметры процессу. В этом вопросе вам только остаётся довериться видеооператору.
	div(class="#{columnCol}")
		.column--colTitle.column--colTitle-2=columncolTitle_2
		.column--text.
			Видеосъёмка в Нижнем Новгороде по цене, которая была бы для вас приемлема, проводится профессионалами студии «100% ART». Стоимость определяется различными параметрами: собираетесь ли вы использовать услуги визажиста или украшать место съёмок предоставляемыми нами декорациями, будет ли процесс длиться час или весь день и т. д. Расценки указаны в разделе «цены».
	div(class="#{columnCol}")
		.column--colTitle.column--colTitle-3=columncolTitle_3
		.column--text.
			Услуги оказываются как частным лицам, так и организациям. Съёмка может быть коммерческой или для личного архива. Независимо ни от чего, она всегда осуществляется на должном уровне. Наша команда готова сделать свою работу в любом месте: на улице или в выбранном вами помещении.
	.column--col.col-xs-6.col-md-3
		.column--colTitle.column--colTitle-4=columncolTitle_4